<div class="row">
    <div class="col-12">
        <div class="bottom-conatiner">
            <div class="row">
                <div class="col-5 ps-4 ">

                    <div class="row mt-4 ps-2">
                        <div class="col-3 ps-0" *ngFor="let res_sub of subtab; let j=index"
                            (click)="NavigateToSubTab(j)">
                            <div class="sub_tab font d-flex justify-content-center align-items-center"
                                [ngClass]="{'sub-tab-active': j === activeIndexSubTab}">
                                {{res_sub.label}}
                            </div>

                        </div>

                    </div>

                 
                </div>






            </div>

            <div *ngIf="activeIndexSubTab== '0' then createAdminRoles else SetHierarchy"></div>
            <ng-template #createAdminRoles>
                <div class="row w-100">
                    <div class="col-12 ms-2 d-flex justify-content-center">
                    <div class="table-container">

                        <div class="row pt-3">
                            <div class="col-4">
                                <div class="client-vendor-name font">Client/ Vendor Name::</div>
                                <div class="mt-2">
                                    <input class="form-control organisation_input font" type="text"
                                    id="orgName" name="orgName" formControlName="orgName">

                                </div>
                               
                            </div>
                            <div class="col-4"></div>
                            <div class="col-4"></div>
                        </div>

                        
                        </div>
                        </div>
                        </div>
            </ng-template>
            <ng-template #SetHierarchy>
                <div class="row w-100">
                    <div class="col-12 ms-2 d-flex justify-content-center">
                    <div class="table-container">
                        </div>
                        </div>
                        </div>
            </ng-template>
        </div>