<div class="row">
  <div class="col-12">
    <div class="bottom-conatiner">
      <div class="row w-100">
        <div class="col-5 ps-4">
          <div class="row mt-4 ps-2">
            <div
              class="col-3 ps-0"
              *ngFor="let res_sub of subtab; let j = index"
              (click)="NavigateToSubTab(j)"
            >
              <div
                class="sub_tab font d-flex justify-content-center align-items-center"
                [ngClass]="{ 'sub-tab-active': j === activeIndexSubTab }"
              >
                {{ res_sub.label }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-7 infoCol">
          <div class="d-flex justify-content-end mt-4">
            <img
              class="infoIcon"
              placement="left"
              [ngbPopover]="popoverContent1"
              triggers="mouseenter:mouseleave"
              src="assets/images/infoicon.png"
              alt=""
            />
            <ng-template #popoverContent1>
              <div class="font" *ngIf="activeIndexSubTab == 0">
                <div>
                  Step 1 :Enter Client/Vendor Name and Click on Next Button.
                </div>
                <div class="mt-2">Step 2 : Fill the required Details.</div>
                <div class="mt-2">Step 3 :Click on Create Button.</div>
              </div>
              <div class="font" *ngIf="activeIndexSubTab == 1">
                <div>Step 1 :Add + sign On B]Process to create Process.</div>
                <div class="mt-2">
                  Step 2 : Add + Sign on created Process to Add Sub-Process.
                </div>
                <div class="mt-2">
                  Step 3 : Add + Sign on created Sub-Process to Add Stage.
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
      <form [formGroup]="vendorForm" (ngSubmit)="onSubmit()">
        <div [ngSwitch]="subTabName">
          <div class="row" *ngSwitchCase="'create'">
            <div class="row w-100">
              <div class="col-12 ms-2 d-flex justify-content-center">
                <div class="table-container">
                  <div class="row">
                    <div class="col-4 pt-3">
                      <div
                        class="client-vendor-name font d-flex justify-content-between mt-3"
                      >
                        <div>Client/ Vendor Name:</div>
                      </div>
                      <div class="mt-2">
                        <input
                          class="form-control organisation_input font"
                          type="text"
                          formControlName="vendorName"
                          [disabled]="isDisabled"
                          (input)="updateInputState($event)"
                        />
                      </div>
                      <div
                        *ngIf="
                          vendorForm.get('vendorName')?.hasError('required') &&
                          vendorForm.get('vendorName')?.touched
                        "
                        class="text-danger font mt-1"
                      >
                        Vendor Name is required.
                      </div>
                    </div>
                    <div class="col-8 right-side-create-hierarchy">
                      <div
                        *ngIf="
                          !adminInfo;
                          then defaultInfo;
                          else adminInfodetails
                        "
                      ></div>
                      <ng-template #defaultInfo>
                        <div
                          class="font d-flex justify-content-center create-hierarchy-description pt-3"
                        >
                          * By assigning an admin role to the Vendor, the vendor
                          can set up their own hierarchy, as well as create CMS
                          User.
                        </div>
                      </ng-template>
                      <ng-template #adminInfodetails>
                        <form
                          method="post"
                          (ngSubmit)="SubmitCreateAdminUser()"
                          [formGroup]="creteAdminField"
                        >
                          <div class="row">
                            <div
                              class="col-12 d-flex justify-content-center font pt-2 admin_heading"
                            >
                              Admin User Info
                            </div>

                            <div class="row mt-2">
                              <div class="col-3"></div>
                              <div class="col-6">
                                <div
                                  class="label_setup font d-flex justify-content-between"
                                >
                                  <div>Admin Name:</div>
                                </div>
                                <div class="mt-1">
                                  <input
                                    class="form-control employee_input font"
                                    type="text"
                                    name="empName"
                                    formControlName="empName"
                                    id="empName"
                                    placeholder="Enter Name"
                                  />
                                  <div
                                    *ngIf="
                                      empNameControl?.invalid &&
                                      (empNameControl?.dirty ||
                                        empNameControl?.touched)
                                    "
                                  >
                                    <div
                                      *ngIf="empNameControl?.errors?.['required']"
                                      class="font error_message"
                                    >
                                      Admin name is required.
                                    </div>
                                  </div>
                                </div>

                                <div class="label_setup font mt-1">
                                  Admin User ID:
                                </div>

                                <div class="mt-1">
                                  <input
                                    class="form-control employee_input font"
                                    type="text"
                                    formControlName="empId"
                                    placeholder="Enter Email-id"
                                  />
                                </div>
                                <div
                                  *ngIf="
                                    empIdControl?.invalid &&
                                    (empIdControl?.dirty ||
                                      empIdControl?.touched)
                                  "
                                >
                                  <div
                                    *ngIf="empIdControl?.errors?.['required']"
                                    class="font error_message"
                                  >
                                    Admin User Id is required.
                                  </div>
                                </div>
                                <div
                                  class="font error_message"
                                  *ngIf="empIdControl?.errors?.['email']"
                                >
                                  Invalid email format.
                                </div>

                                <div class="label_setup font mt-1">
                                  Password:
                                </div>
                                <!-- <div class="mt-1">
                                  <input class="form-control employee_input font" type="password" formControlName="empPassword" />
                                </div>
                                <div *ngIf="empPasswordControl?.invalid &&(empPasswordControl?.dirty ||empPasswordControl?.touched)">
                                  <div *ngIf="empPasswordControl?.errors?.['required']" class="font error_message">
                                    Employee password is required.
                                  </div>
                                </div> -->
                                <div
                                  class="password-input d-flex justify-content-end"
                                >
                                  <input
                                    class="form-control employee_input font"
                                    [type]="showpassword ? 'text' : 'password'"
                                    id="password"
                                    formControlName="empPassword"
                                  />
                                  <div class="input-group-append mt-1">
                                    <div
                                      class="eye-button d-flex justify-content-center align-items-center"
                                      (click)="togglePasswordVisibility()"
                                    >
                                      <i
                                        class="material-icons me-2"
                                        style="color: #133870"
                                        >{{
                                          showpassword
                                            ? "visibility"
                                            : "visibility_off"
                                        }}</i
                                      >
                                    </div>
                                  </div>
                                </div>
                                <div
                                  *ngIf="
                                    empPasswordControl?.invalid &&
                                    (empPasswordControl?.dirty ||
                                      empPasswordControl?.touched)
                                  "
                                >
                                  <div
                                    *ngIf="empPasswordControl?.errors?.['required']"
                                    class="font error_message"
                                  >
                                    Admin password is required.
                                  </div>
                                </div>
                              </div>
                              <div class="col-3"></div>
                            </div>
                          </div>
                        </form>
                      </ng-template>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngSwitchCase="'set'">
            <div class="row w-100">
              <div class="col-12 ms-2 d-flex justify-content-center">
                <div class="table-container">
                  <div class="row">
                    <div class="col-4 left-side">
                      <div
                        *ngIf="this.apiData?.role?.idRoleType != 3"
                        ngbDropdown
                        class="dropdown mt-4 w-100 custom-dropdown"
                        style="position: relative; display: inline-flex"
                      >
                        <button
                          ngbDropdownToggle
                          class="btn btn-secondary font large-dropdown d-flex align-items-center ps-4"
                          type="button"
                          id="dropdownMenuButtonsetup"
                          aria-expanded="false"
                          [ngStyle]="{
                            color:
                              selectedDropdownIndustryValue !==
                              'Select from the drop-down'
                                ? 'black'
                                : ''
                          }"
                          (click)="getVendorDetails('')"
                        >
                          {{ selectedDropdownIndustryValue }}
                        </button>
                        <ul
                          ngbDropdownMenu
                          aria-labelledby="dropdownMenuButton1"
                          class="w-100 custom-dropdown-menu"
                        >
                          <li
                            *ngFor="
                              let res of organisationName;
                              let index = index
                            "
                          >
                            <a
                              ngbDropdownItem
                              (click)="updateSelectedIndustryValue(index)"
                              class="font"
                              >{{ res.hierarchyName }}</a
                            >
                          </li>
                        </ul>
                      </div>

                      <!-- Process -->
                      <div class="d-flex">
                        <div
                          class="process-input-left mt-2 ps-4 font d-flex align-items-center"
                        >
                          B] Process
                          <div
                            class="edit_btn d-flex justify-content-end align-items-center"
                            (click)="navigateToSubprocess('process', 'demo')"
                          >
                            <img
                              class="edit_image"
                              src="assets/images/plus_button.png"
                            />
                          </div>
                        </div>
                      </div>
                      <ng-container
                        *ngFor="let row of processList; let i = index"
                      >
                        <div
                          class="d-flex justify-content-end"
                          (click)="navigateToSubprocess('subprocess', i)"
                        >
                          <div
                            class="process-input-left-add mt-2 ps-2 d-flex align-items-center font"
                          >
                            <img
                              class="selected_arrow pe-1"
                              src="assets/images/selected-arrow.png"
                              *ngIf="i === ProcessIndex"
                            />
                            {{ row?.hierarchyName }}

                            <div
                              class="edit_btn d-flex justify-content-end align-items-center"
                            >
                              <img
                                class="edit_image"
                                src="assets/images/plus_button.png"
                              />
                            </div>
                          </div>
                        </div>
                      </ng-container>

                      <!-- Sub Process -->
                      <div class="d-flex">
                        <div
                          class="process-input-left mt-2 ps-4 font d-flex align-items-center"
                        >
                          C] Sub Process
                        </div>
                      </div>
                      <ng-container
                        *ngFor="let row of subprocessList; let i = index"
                      >
                        <div
                          class="d-flex justify-content-end"
                          (click)="navigateToSubprocess('stage', i)"
                          *ngIf="i == 0"
                        >
                          <div
                            class="process-input-left-add mt-2 ps-2 d-flex align-items-center font"
                          >
                            <img
                              class="selected_arrow pe-1"
                              src="assets/images/selected-arrow.png"
                              *ngIf="i === SubIndex"
                              alt=""
                            />
                            {{ row?.hierarchyName }}

                            <div
                              class="edit_btn d-flex justify-content-end align-items-center"
                            >
                              <img
                                class="edit_image"
                                src="assets/images/plus_button.png"
                              />
                            </div>
                          </div>
                        </div>
                      </ng-container>

                      <!-- Stage -->
                      <div
                        class="process-input-left mt-2 ps-4 font d-flex align-items-center"
                      >
                        D] Stage
                      </div>
                      <ng-container
                        *ngFor="let row of stageList; let i = index"
                      >
                        <div class="row d-flex justify-content-end me-1">
                          <div
                            class="process-input-left-add mt-2 ps-2 d-flex align-items-center font"
                          >
                            {{ row?.hierarchyName }}

                            <!-- <div
                              class="edit_btn d-flex justify-content-end align-items-center"
                            >
                              <img
                                class="edit_image"
                                src="assets/images/plus_button.png"
                              />
                            </div> -->
                          </div>
                        </div>
                      </ng-container>
                    </div>

                    <!-- <div *ngIf="subprocess; then process; else subprocessdiv"></div> -->

                    <div class="col-8 right-side" *ngIf="processName == ''">
                      <div class="row w-100">
                        <div
                          class="col-12 font d-flex justify-content-center mt-1 heading-right-side"
                        >
                          Step 1: Enter all the Process for
                          {{ vendorList[0]?.hierarchyName }} Vendor<br />
                          Step 2: Click on a Process to add its Sub Process in
                          it
                        </div>
                      </div>
                    </div>

                    <div
                      class="col-8 right-side"
                      *ngIf="processName == 'process'"
                    >
                      <div class="row w-100">
                        <div
                          class="col-12 font d-flex justify-content-center mt-1 heading-right-side"
                        >
                          Step 1: Enter all the Process for
                          {{ vendorList[0]?.hierarchyName }} Vendor<br />
                          Step 2: Click on a Process to add its Sub Process in
                          it
                        </div>
                      </div>

                      <div class="container mt-2">
                        <form [formGroup]="processForm1">
                          <div
                            id="processContainer"
                            formArrayName="processRows"
                          >
                            <div
                              class="row process-row"
                              *ngFor="
                                let row of processRows.controls;
                                let i = index
                              "
                              [formGroupName]="i"
                            >
                              <div class="col-7">
                                <label class="font fw-bold mt-1"
                                  >Process :</label
                                >
                                <div class="mt-1">
                                  <input
                                    type="text"
                                    class="form-control font process-input"
                                    placeholder="Enter the process name"
                                    aria-label=""
                                    aria-describedby="basic-addon1"
                                    formControlName="processName"
                                  />
                                </div>
                              </div>
                              <div class="col-1"></div>
                              <div class="col-4 d-flex align-items-end">
                                <label class="font fw-bold"></label>
                                <div
                                  class="add-button-process mt-1 d-flex justify-content-center align-items-center"
                                  (click)="addProcessRow('process')"
                                >
                                  Add
                                </div>

                                <label class="font fw-bold"></label>
                                <!-- <div
                                  class="remove-button-process mt-1 ms-4 d-flex justify-content-center align-items-center"
                                  (click)="removeProcessRow(i)"
                                >
                                  Remove
                                </div> -->
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>

                    <div
                      class="col-8 right-side"
                      *ngIf="processName == 'subprocess'"
                    >
                      <div class="row w-100">
                        <div
                          class="col-12 font d-flex justify-content-center mt-4 heading-right-side"
                        >
                          Step 1: Enter all the Sub-Process for
                          {{ processNameRightSide }}<br />
                          Step 2: Click on a Sub Process to add Stage in it
                        </div>
                      </div>

                      <div class="container">
                        <form [formGroup]="processForm2">
                          <div
                            id="processContainer"
                            formArrayName="subprocessRows"
                          >
                            <div
                              class="row process-row"
                              *ngFor="
                                let row of subprocessRows.controls;
                                let i = index
                              "
                              [formGroupName]="i"
                            >
                              <div class="col-7">
                                <label class="font fw-bold mt-1"
                                  >Sub - Process:</label
                                >
                                <div class="mt-1">
                                  <input
                                    type="text"
                                    class="form-control font process-input"
                                    placeholder="Enter the Sub process name"
                                    aria-label=""
                                    aria-describedby="basic-addon1"
                                    formControlName="subprocessName"
                                  />
                                </div>
                              </div>
                              <div class="col-1"></div>
                              <div class="col-4 d-flex align-items-end">
                                <label class="font fw-bold"></label>
                                <div
                                  class="add-button-process mt-1 d-flex justify-content-center align-items-center"
                                  (click)="addSubProcessRow('subprocess')"
                                >
                                  Add
                                </div>

                                <label class="font fw-bold"></label>
                                <!-- <div
                                  class="remove-button-process mt-1 ms-4 d-flex justify-content-center align-items-center"
                                  (click)="removeProcessRow(i)"
                                >
                                  Remove
                                </div> -->
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>

                    <div
                      class="col-8 right-side"
                      *ngIf="processName == 'stage'"
                    >
                      <div class="row w-100">
                        <div
                          class="col-12 font d-flex justify-content-center mt-4 heading-right-side"
                        >
                          Step 1: Enter all the Stage for
                          {{ subprocessNameRightSide }}<br />
                          Step 2: Click on the next Sub Process to add all the
                          Stage in it.
                        </div>
                      </div>

                      <div class="container">
                        <form [formGroup]="processForm">
                          <div id="processContainer" formArrayName="stage">
                            <div
                              class="row process-row"
                              *ngFor="let row of stage.controls; let i = index"
                              [formGroupName]="i"
                            >
                              <div class="col-7">
                                <label class="font fw-bold mt-1">Stage:</label>
                                <div class="mt-1">
                                  <input
                                    type="text"
                                    class="form-control font process-input"
                                    placeholder="Enter the Stage name"
                                    aria-label=""
                                    aria-describedby="basic-addon1"
                                    formControlName="stageName"
                                  />
                                </div>
                              </div>
                              <div class="col-1"></div>
                              <div class="col-4 d-flex align-items-end">
                                <label class="font fw-bold"></label>
                                <div
                                  class="add-button-process mt-1 d-flex justify-content-center align-items-center"
                                  (click)="addStageRow('stage')"
                                >
                                  Add
                                </div>
                                <label class="font fw-bold"></label>
                                <!-- <div
                                  class="remove-button-process mt-1 ms-4 d-flex justify-content-center align-items-center"
                                  (click)="removeProcessRow(i)"
                                >
                                  Remove
                                </div> -->
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngSwitchCase="'display'">
            <div class="row w-100">
              <div class="col-12 ms-2 d-flex justify-content-center">
                <div class="table-container">
                  <div class="row">
                    <div class="col-8"></div>
                    <div class="col-4 mt-2 d-flex justify-content-end">
                      <div class="count-container pt-1">
                        <div
                          class="row w-100"
                          *ngFor="let response of count; let i = index"
                        >
                          <div class="col-lg-5 col-sm-4 ps-4 font count_label">
                            {{ response.label }}
                          </div>
                          <div class="col-lg-5 col-sm-6">
                            <div
                              class="count-points font d-flex justify-content-center align-items-center mt-1"
                            >
                              {{ response.value }}
                            </div>
                          </div>
                          <div class="col-lg-2 col-sm-2">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="flexRadioDefault"
                              [id]="'flexRadioDefault' + i"
                              [checked]="i === activeRadiobutton"
                              (click)="changeFilter(i)"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row display-Cms-User-body">
                    <div class="col-12">
                      <div class="row">
                        <div class="col-12">
                          <div class="row mt-2">
                            <div class="col-12">
                              <div class="table-header">
                                <div
                                  class="checkbox-header d-flex align-items-center"
                                >
                                  <div
                                    class="edit_btn1 d-flex justify-content-center align-items-center"
                                  ></div>
                                  <div class="checkbox">
                                    <div
                                      class="form-check d-flex align-items-center"
                                    ></div>
                                  </div>
                                  <div
                                    class="font d-flex align-items-center justify-content-center text-light"
                                  >
                                    Status
                                  </div>
                                  <div
                                    class="User-Name-header font d-flex justify-content-start ps-4 text-light"
                                  >
                                    Vendors/ Clients
                                  </div>

                                  <div
                                    class="Organization-header font d-flex justify-content-start ps-4 text-light"
                                  >
                                    Admin ID
                                  </div>

                                  <div class="Role-header font text-light">
                                    Hierarchy Status
                                  </div>

                                  <div class="Function-header font text-light">
                                    Creation Date
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="display-Cms-User-body-height">
                              <div
                                class="table-body-height table-body w-100"
                                *ngFor="let item of getAdmindetails"
                              >
                                <div class="row mt-2">
                                  <div
                                    class="col-12 d-flex justify-content-center"
                                  >
                                    <div
                                      class="table-body d-flex align-items-center"
                                    >
                                      <div
                                        class="view_div d-flex align-items-center justify-content-center"
                                        data-bs-toggle="modal"
                                        data-bs-target="#OrganizationDescriptionModal"
                                      >
                                        <svg
                                          xmlns="http://www.w3.org/2000/svg"
                                          class="eye-image"
                                          viewBox="0 0 28 20"
                                          fill="none"
                                        >
                                          <path
                                            d="M1.82837 10C1.82837 10 6.32471 1 14.1933 1C22.0619 1 26.5582 10 26.5582 10C26.5582 10 22.0619 19 14.1933 19C6.32471 19 1.82837 10 1.82837 10Z"
                                            stroke="#133870"
                                            stroke-width="2"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                          />
                                          <path
                                            d="M14.1933 13.375C16.0557 13.375 17.5656 11.864 17.5656 10C17.5656 8.13604 16.0557 6.625 14.1933 6.625C12.3309 6.625 10.821 8.13604 10.821 10C10.821 11.864 12.3309 13.375 14.1933 13.375Z"
                                            stroke="#000"
                                            stroke-width="2"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                          />
                                        </svg>
                                      </div>
                                      <div
                                        class="edit_btn1 d-flex justify-content-center align-items-center"
                                      >
                                        <img
                                          class="edit_image1"
                                          src="assets/images/plus_button.png"
                                          alt="Edit Image"
                                        />
                                      </div>

                                      <div
                                        class="Status_label form-check form-switch d-flex align-items-center"
                                      >
                                        <input
                                          class="form-check-input"
                                          style="width: 2.5vw; height: 2.5vh"
                                          type="checkbox"
                                          role="switch"
                                          id="flexSwitchCheckDefault"
                                          [checked]="item.status === 'A'"
                                        />
                                      </div>
                                      <div
                                        class="User-Name-header font text-dark ps-4"
                                      >
                                        {{ item.userName }}
                                      </div>
                                      <div
                                        class="Organization-header font text-dark ps-5"
                                      >
                                        {{ item.idCmsUser }}
                                      </div>
                                      <div
                                        class="Role-header font text-dark ps-2"
                                      >
                                        {{ item.role }}
                                      </div>
                                      <div
                                        class="Function-header font text-dark ps-4"
                                      >
                                        {{
                                          item.updatedDateTime
                                            | date : "dd/MM/yyyy"
                                        }}
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-12 d-flex justify-content-end">
    <div
      *ngIf="!adminInfo; then defaultInfobtn; else adminInfodetailsbtb"
    ></div>
    <ng-template #defaultInfobtn>
      <div
        *ngIf="activeIndexSubTab == 0 && subTabName != 'set'"
        class="submit_button_organisation mt-3 me-3 font d-flex justify-content-center fontInter"
        [ngClass]="{ disabled: isDisabled }"
        (click)="isDisabled ? null : createAdminInfo()"
      >
        Next
      </div>
    </ng-template>
    <ng-template #adminInfodetailsbtb>
      <div
        *ngIf="activeIndexSubTab == 0 && subTabName != 'set'"
        class="submit_button_organisation mt-3 me-3 font d-flex justify-content-center fontInter"
        (click)="submitOrgHierarchy()"
      >
        Create
      </div>
    </ng-template>
  </div>
</div>
