<div class="web-container-setup">
  <div class="row">
      <div class="col-7">
          <div class="search-bar-container d-flex align-items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                  viewBox="0 0 16 16" style="color: white;">
                  <path
                      d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
              </svg>

              <div class="input-group">

                  <input type="text" class="form-control font" placeholder="Search anything" aria-label=""
                      aria-describedby="basic-addon1">
              </div>
              <button type="button" class="close ms-2" aria-label="Close" style="color: #FFF;">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
      </div>
      <div class="col-5 pe-4 dropdown-col d-flex justify-content-end">

          <div ngbDropdown class="dropdown" style="position:relative;">
              <button ngbDropdownToggle class="btn btn-secondary font" type="button" id="dropdownMenuButton1"
                  aria-expanded="false">
                  {{ selectedDropdownValue }}
                  <svg xmlns="http://www.w3.org/2000/svg" class="circle ms-1" viewBox="0 0 41 41" fill="none">
                      <circle cx="20.5" cy="20.5" r="19.5" fill="white" stroke="#000" stroke-width="2" />
                  </svg>
              </button>
              <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
                  <li><a ngbDropdownItem (click)="updateSelectedValue('Organization 1')" class="font">Organization
                          1</a></li>
                  <li><a ngbDropdownItem (click)="updateSelectedValue('Organization 2')" class="font">Organization
                          2</a></li>
                  <li><a ngbDropdownItem (click)="updateSelectedValue('Organization 3')" class="font">Organization
                          3</a></li>
              </ul>
          </div>

          <div ngbDropdown class="dropdown" style="position: relative; display: inline-flex;">
              <button ngbDropdownToggle class="btn btn-secondary" type="button" id="dropdownMenuButton2"
                  aria-expanded="false">

                  <svg xmlns="http://www.w3.org/2000/svg" class="circle" viewBox="0 0 41 41" fill="none">
                      <circle cx="20.5" cy="20.5" r="19.5" fill="white" stroke="#000" stroke-width="2" />
                      <path
                          d="M28 30V28C28 26.9391 27.5786 25.9217 26.8284 25.1716C26.0783 24.4214 25.0609 24 24 24H16C14.9391 24 13.9217 24.4214 13.1716 25.1716C12.4214 25.9217 12 26.9391 12 28V30"
                          stroke="#133870" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                      <path
                          d="M20 20C22.2091 20 24 18.2091 24 16C24 13.7909 22.2091 12 20 12C17.7909 12 16 13.7909 16 16C16 18.2091 17.7909 20 20 20Z"
                          stroke="#133870" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
              </button>
              <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
                  <li><a ngbDropdownItem class="font">Profile 1</a></li>
                  <li><a ngbDropdownItem class="font">Profile 2</a></li>
                  <li><a ngbDropdownItem class="font">Profile 3</a></li>
              </ul>
          </div>

      </div>

  </div>

  <div class="row mt-3">
      <div class="col-12 d-flex align-items-center" style="flex-direction: row;">
          <div class="circle-div">

          </div>
          <div class="font ms-2 title_name">Setup</div>
      </div>
  </div>

  <div class="row mt-3">
      <div class="col-10">
          <div class="row">
              <div class="col-2" *ngFor="let res of matTab; let i=index" (click)="NavigateToTab(i)"
                  style="cursor: pointer; padding-right: 0;">
                  <div class="tab d-flex justify-content-center align-items-center flex-column"
                      [ngClass]="{'tab-active': i === activeIndexTab}">
                     
                      <div class="mat-title font">{{res.content}}</div>
                     
                  </div>
              </div>
          </div>

      </div>
      <div class="col-2"> </div>


  </div>

  <div class="row">
      <div class="col-12">
          <div class="bottom-conatiner">
              <div class="row">
                  <div class="col-5 ps-4 ">

                      <div class="row mt-4 ps-2">
                          <div class="col-3 ps-0" *ngFor="let res_sub of subtab; let j=index"
                              (click)="NavigateToSubTab(j)">
                              <div class="sub_tab font d-flex justify-content-center align-items-center"
                                  [ngClass]="{'sub-tab-active': j === activeIndexSubTab}">
                                  {{res_sub.label}}
                              </div>

                          </div>

                      </div>
                  </div>






              </div>

              <div class="row w-100">
                <div class="col-12 ms-2 d-flex justify-content-center">
                    <div class="table-container">
                       

                       <div class="row">

                        <!-- Left Input Side -->
                        <div class="col-4">
                            
                            <div class="row">
                                <div class="col-12">
                                    <div class="label_setup font">Industry Name:</div>

                            <div ngbDropdown class="dropdown mt-2 w-100" style="position: relative; display: inline-flex;">
                                <button ngbDropdownToggle class="btn btn-secondary font large-dropdown" type="button" id="dropdownMenuButtonsetup"
                                    aria-expanded="false"   [ngStyle]="{'color': selectedDropdownIndustryValue !== 'Select from the drop-down' ? 'black' : ''}">
                  
                                    {{selectedDropdownIndustryValue}}
                                   
                                </button>
                                <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton1" class="dropdown_values" >
                                    <li><a ngbDropdownItem (click)="updateSelectedIndustryValue('Organization 1')" class="font">Organization
                                            1</a></li>
                                    <li><a ngbDropdownItem (click)="updateSelectedIndustryValue('Organization 2')" class="font">Organization
                                            2</a></li>
                                    <li><a ngbDropdownItem (click)="updateSelectedIndustryValue('Organization 3')" class="font">Organization
                                            3</a></li>
                                </ul>
                            </div>
                                </div>
                            </div>
                            

                            <div class="row mt-2">
                                <div class="col-12">
                                    <div class="label_setup font">Organization Name:</div>
                                    <div class="mt-2">
                                        <input class="form-control organisation_input font" type="text" >

                                    </div>
                                    
                                </div>
                            </div>

                            <div class="row mt-4">
                                <div class="col-12">
                                    <div class="label_setup font">Contact Name:</div>
                                    <div class="mt-2">
                                        <input class="form-control organisation_input font" type="text" >

                                    </div>
                                    
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-12">
                                    <div class="label_setup font">Contact Email:</div>
                                    <div class="mt-2">
                                        <input class="form-control organisation_input font" type="text" >

                                    </div>
                                    
                                </div>
                            </div>
                        </div>
         
                        <!-- Middle Input Side -->

                        <div class="col-4">
                            <div class="row">
                                <div class="col-12">
                                    
                                <div class="label_setup font">Business Type:</div>

                            <div ngbDropdown class="dropdown mt-2 w-100" style="position: relative; display: inline-flex;">
                                <button ngbDropdownToggle class="btn btn-secondary font large-dropdown" type="button" id="dropdownMenuButtonsetup"
                                    aria-expanded="false"   [ngStyle]="{'color': selectedDropdownBusinessTypeValue !== 'Select from the drop-down' ? 'black' : ''}">
                  
                                    {{selectedDropdownBusinessTypeValue}}
                                   
                                </button>
                                <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton1" class="dropdown_values" >
                                    <li><a ngbDropdownItem (click)="updateSelectedBusinessTypeValue('Business 1')" class="font">Business
                                            1</a></li>
                                    <li><a ngbDropdownItem (click)="updateSelectedBusinessTypeValue('Business 2')" class="font">Business
                                            2</a></li>
                                    <li><a ngbDropdownItem (click)="updateSelectedBusinessTypeValue('Business 3')" class="font">Business
                                            3</a></li>
                                </ul>
                            </div>
                                </div>
                            </div>
                            

                            <div class="row mt-2" style="visibility: hidden;">
                                <div class="col-12">
                                    <div class="label_setup font">Organization Name:</div>
                                    <div class="mt-2">
                                        <input class="form-control organisation_input font" type="text" >

                                    </div>
                                    
                                </div>
                            </div>

                            <div class="row mt-4">
                                <div class="col-12">
                                    <div class="label_setup font">Contact Number:</div>
                                    <div class="mt-2">
                                        <input class="form-control organisation_input font" type="text" >

                                    </div>
                                    
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-12">
                                    <div class="label_setup font">Domain Email:</div>
                                    <div class="mt-2">
                                        <input class="form-control organisation_input font" type="text" >

                                    </div>
                                    
                                </div>
                            </div>
                        </div>

                        <!-- Right Input Side -->

                        <div class="col-4">
                            <div class="row">
                                <div class="col-12 d-flex justify-content-center align-items-center logo-image">
                                    <div class="label_setup font d-flex justify-content-center">Logo Image:</div>
                                    <div class="logo-image-conatiner mt-1 d-flex justify-content-center align-items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 65 65" fill="none" style="height: 4vh; width:4vh">
                                            <path d="M56.2222 2H8.77778C5.03451 2 2 5.03451 2 8.77778V56.2222C2 59.9655 5.03451 63 8.77778 63H56.2222C59.9655 63 63 59.9655 63 56.2222V8.77778C63 5.03451 59.9655 2 56.2222 2Z" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M20.6389 25.7223C23.4463 25.7223 25.7222 23.4464 25.7222 20.639C25.7222 17.8316 23.4463 15.5557 20.6389 15.5557C17.8314 15.5557 15.5555 17.8316 15.5555 20.639C15.5555 23.4464 17.8314 25.7223 20.6389 25.7223Z" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M63 42.6666L46.0555 25.7222L8.77777 62.9999" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                          </svg>
                                    </div>
                                    <div class="browse_image mt-2 font">
                                        Browse
                                    </div>

                                </div>
                            </div>
                        </div>



                       </div>

                       <!-- Bootom Center label -->

                       <div class="row">
                        <div class="col-8 d-flex align-items-center mt-2" style="flex-direction: column;">
                            <div class="label_setup-logo font">Organization Code:</div>
                            <div class="mt-2 org_code">
                                <input class="form-control organisation_input font" type="text" >

                            </div>
                        </div>
                        <div class="col-4"></div>
                       </div>

                    </div>
                </div>


            </div>

             

          </div>
      </div>
  </div>

  <div class="row">
    <div class="col-12 d-flex justify-content-end">
        <div class="submit_button mt-3 me-3 font d-flex justify-content-center">
            Submit
        </div>
    </div>
</div>



</div>



