.search-bar-container {
    height: 5vh;
    width: 90%;
    background: #000;
    margin-top: 2vh;
    padding-left: 1vw;
  }
  
  .input-group {
    width: 90%;
    padding-left: 0.5vw;
    height: 3vh;
  }
  
  .form-control {
    height: 3vh;
    font-size: 0.8em;
  }
  
  .close {
    border: none;
    background: transparent;
  }
  
  .dropdown-col {
    margin-top: 2vh;
  
  }
  
  .dropdown-toggle {
    background: #000;
    border: none;
    color: #FFF;
    font-size: 0.9em;
    border-radius: 0;
    height: 5vh;
    display: flex;
    align-items: center;
  }
  
  
  #dropdownMenuButton2 {
    border-radius: 0;
    height: 5vh;
    background: #D7D7E8;
    color: #000;
    
  }
  
  #dropdownMenuButtonsetup,.organisation_input {
    height: 4.5vh;
    border-radius: 5px;
    border: 1px solid #000;
    background: #D7D7E8;
    color: #818195;
    min-width: 100%;

  }
  .organisation_input{
    color: #000000;
  } 
  
 

  .large-dropdown::after {
    position: absolute;
    font-size: 3em;
    right: 0.2em;
    color: #000000;
}
  /* Add any styles for the circle class here */
  .circle {
    width: 3.5vh;
    height: 3.5vh;
    margin-right: 0.2vw;
  }
  
  .circle-div {
    width: 5vh;
    height: 5vh;
    border-radius: 100%;
    background: #FFF;
    border: 1px solid #000;
  }
  
  
  .circle-tab {
    width: 3vh;
    height: 3vh;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid #1B9DE7;
  }
  
  .title_name {
    font-size: 1.1em;
  }
  
  .tab {
  
    height: 7vh;
    background: #FFFFFF;
    border: 2px solid #000;
    border-bottom: none;
    position: relative;
  
  }
  
  .tab_color {
    position: absolute;
    top: 0;
    right: 0;
    width: 1.5vh;
    height: 1.5vh;
    z-index: 10;
    background: #7B7FCF;
  }
  
  .mat-title {
    font-size: 0.7em;
  }
  
  .bottom-conatiner {
    border: 2px solid #000;
    background: #F5F5F7;
    height: 67vh;
    width: 99%;
  
  
  }
  
  .tab-active {
    height: 7vh;
    background: #D7D7E8;
    border: 2px solid #000;
    border-bottom: none;
    position: relative;
  }
  
  
  
  .count-container {
    min-width: 60%;
    height: 14vh;
    border-radius: 10px;
    background: #B0DDF6;
    margin-right: 1vw;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .count_label {
    font-size: 0.8em;
  }
  
  .count-points {
    height: 2vh;
    border-radius: 10px;
    background: #FFFFFF;
    font-size: 0.8em;
  
  }
  
  .sub_tab {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #D7D7E8;
    font-size: 0.7em;
    height: 4vh;
    text-align: center;
    cursor: pointer;
    padding: 8px;
    line-height: 1;
    border: 1px solid #000;
    border-bottom: none;
  }
  
  .sub-tab-active {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #FFFFFF;
    font-size: 0.7em;
    height: 4vh;
    text-align: center;
    cursor: pointer;
    border: 1px solid #000;
    border-bottom: none;
    line-height: 1;
  }
  
  .table-container {
    width: 100%;
    height: 57vh;
    background: #FFFFFF;
    border: 1px solid #000;
    position: relative;
    padding: 1em;
    overflow-y: auto;
  }
  
  .drop_down_table {
    font-size: 0.7em;
    width: 3vh;
    height: 2vh;
    background: #B0DDF6;
    border-radius: 8px;
  }
  
  
  .table-header {
    width: 98%;
    height: 4vh;
    background: #1B9DE7;
    border-radius: 20px;
  }
  
  .table-body {
    width: 98%;
    height: 4vh;
    background: #E7F3F9;
    border-radius: 20px;
  }
  
  
  
  .submit_button {
    border-radius: 10px;
    background: #000000;
    color: #FFFFFF;
    padding: 0.6em;
    font-size: 0.8em;
    cursor: pointer;
    width: 8%;
    box-shadow: 3px 8px 6px rgba(0, 0, 0, 0.25);

  }
  
  .label_setup-logo,.org_code{
    font-size: 1em;
    width: 48%;
  }

  .dropdown_values{
    width: 100%;
  }

  .logo-image{
    flex-direction: column;
  }
 
  .logo-image-conatiner{
    height: 17vh;
    width: 40%;
    background: #D7D7E8;
    border-radius: 10px;
    border: 1px solid #000000;
  }

  .browse_image{
    background: black;
    color: white;
    padding: 5px;
    border-radius: 2em;
    min-width: 35%;
    display: flex;
    justify-content: center;
    font-size: 1em;
    cursor: pointer;
    box-shadow: 3px 8px 6px rgba(0, 0, 0, 0.25);
  
  }
