<div class="web-container-game-theme">
    <div class="row">
        <div class="col-7">
            <div class="search-bar-container d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-search"
                    viewBox="0 0 16 16">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </svg>

                <div class="input-group">

                    <input type="text" class="form-control font" placeholder="Search anything" aria-label=""
                        aria-describedby="basic-addon1">
                </div>
                <button type="button" class="close ms-2" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <div class="col-5 pe-4 dropdown-col d-flex justify-content-end">

            <div ngbDropdown class="dropdown" style="position:relative;">
                <button ngbDropdownToggle class="btn btn-secondary font" type="button" id="dropdownMenuButton1"
                    aria-expanded="false">
                    {{ selectedDropdownValue }}
                    <svg xmlns="http://www.w3.org/2000/svg" class="circle ms-1" viewBox="0 0 41 41" fill="none">
                        <circle cx="20.5" cy="20.5" r="19.5" fill="white" stroke="#000" stroke-width="2" />
                    </svg>
                </button>
                <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
                    <li><a ngbDropdownItem (click)="updateSelectedValue('Organization 1')" class="font">Organization
                            1</a></li>
                    <li><a ngbDropdownItem (click)="updateSelectedValue('Organization 2')" class="font">Organization
                            2</a></li>
                    <li><a ngbDropdownItem (click)="updateSelectedValue('Organization 3')" class="font">Organization
                            3</a></li>
                </ul>
            </div>
  
            <div ngbDropdown class="dropdown" style="position: relative; display: inline-flex;">
                <button ngbDropdownToggle class="btn btn-secondary" type="button" id="dropdownMenuButton2"
                    aria-expanded="false">
  
                    <svg xmlns="http://www.w3.org/2000/svg" class="circle" viewBox="0 0 41 41" fill="none">
                        <circle cx="20.5" cy="20.5" r="19.5" fill="white" stroke="#000" stroke-width="2" />
                        <path
                            d="M28 30V28C28 26.9391 27.5786 25.9217 26.8284 25.1716C26.0783 24.4214 25.0609 24 24 24H16C14.9391 24 13.9217 24.4214 13.1716 25.1716C12.4214 25.9217 12 26.9391 12 28V30"
                            stroke="#133870" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path
                            d="M20 20C22.2091 20 24 18.2091 24 16C24 13.7909 22.2091 12 20 12C17.7909 12 16 13.7909 16 16C16 18.2091 17.7909 20 20 20Z"
                            stroke="#133870" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
                <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
                    <li><a ngbDropdownItem class="font">Profile 1</a></li>
                    <li><a ngbDropdownItem class="font">Profile 2</a></li>
                    <li><a ngbDropdownItem class="font">Profile 3</a></li>
                </ul>
            </div>
  
        </div>

    </div>

    <div class="row mt-3">
        <div class="col-12 d-flex align-items-center" style="flex-direction: row;">
            <div class="circle-div">

            </div>
            <div class="font ms-2 title_name">Game Themes</div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <div class="box-edit-question">
                <div class="row">
                    <div class="col-11 d-flex justify-content-center mt-3 font">
                        <div class="header_question d-flex justify-content-center align-items-center">
                            Defuse the Bomb
                        </div>

                    </div>
                    <div class="col-1 d-flex justify-content-center align-items-center">
                    <svg viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class="cross-icon" (click)="close()">
                        <g id="Group 8373">
                            <circle id="Ellipse 21" cx="18" cy="18" r="17" fill="#D7D7E8" stroke="black"
                                stroke-width="2" />
                            <path id="Vector 3983" d="M9.5 10L28 27" stroke="black" stroke-width="5" />
                            <path id="Vector 3984" d="M27.25 9.25L10.25 27.75" stroke="black"
                                stroke-width="5" />
                        </g>
                    </svg>
                </div>
                </div>

                <div class="row mt-3 ms-2">
                    <div class="col-3">
                        <div class="content-requirement-edit-que">
                            <div class="row d-flex">
                                <div class="col-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="info-image" viewBox="0 0 27 27"
                                        fill="none">
                                        <path
                                            d="M13.3475 25.8595C20.0315 25.8595 25.4499 20.4411 25.4499 13.7571C25.4499 7.07315 20.0315 1.65472 13.3475 1.65472C6.66354 1.65472 1.24512 7.07315 1.24512 13.7571C1.24512 20.4411 6.66354 25.8595 13.3475 25.8595Z"
                                            stroke="#133870" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path d="M13.3472 18.5981V13.7571" stroke="#133870" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M13.3472 8.91608H13.3573" stroke="#133870" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>


                                </div>
                                <div class="col-10 font content-req d-flex align-items-center">
                                    Content Requirements: Questions: 140 letters max Options: 25 letters max
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="col-9"></div>
                </div>

                <div class="row ms-3 mt-2">
                    <div class="col-2 d-flex align-items-center id_div">
                        <div class="id-label font d-flex align-items-center">
                            ID:
                        </div>
                        <div class="id_number d-flex justify-content-center align-items-center font">
                            1
                        </div>
                    </div>
                    <div class="col-10"></div>
                </div>
                <div class="col-10 feedback-box">
                    <div class="feedback-content">
                        <!-- Your feedback content goes here -->
                    </div>
                </div>

                <div class="row ms-2 mt-2">
                    <div class="col-12 d-flex ">
                        <div class="d-flex question-container font">
                            <textarea class="form-control input-question" placeholder="Question" rows="7"></textarea>
                            <!-- Question -->
                        </div>
                    </div>
                </div>

                <div class="row mt-1 ansewer_hint_section d-flex justify-content-center">
                    <div class="col-7">
                        <div class="radio-button-custom d-flex mt-2" *ngFor="let res of answerOption; let i=index"
                            (click)="selectOption(i)">
                            <div class="radio-button ms-3" [ngClass]="{'radio-button-active': i === activeIndexTab}">
                            </div>
                            <div class="option_1 font d-flex align-items-center ps-2 ms-2">{{res.option}}</div>
                        </div>


                    </div>

                    <div class="col-5">
                        <div class="d-flex hint-container font mt-2">
                            <textarea class="form-control hint-question" placeholder="Hint" rows="7"></textarea>
                        </div>
                    </div>
                </div>

                <div class="row mt-5 last_row">
                    <div class="col-6 d-flex" style="margin-top:-1%">
                        <div class="status_label font ms-3 d-flex align-items-center">STATUS</div>
                        <div class="form-check form-switch d-flex ms-2">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        </div>
                    </div>
                    <div class="col-6 d-flex justify-content-end" style="margin-top:-1%">
                        <div class="button_div d-flex justify-content-center align-items-center font" data-bs-toggle="modal"
                        data-bs-target="#WarningModal">
                            Done
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





</div>


<!-- Warning Modal -->
    <div class="modal fade" id="WarningModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
       
        <div class="modal-dialog modal-dialog-centered" style="position:relative;display: flex; justify-content: center;">
            
            <div class="modal-content WarningModal">
                <div class="warning_image_upload">
                    <img src="assets/images/Warning.png" alt="Warning Image"/>
                </div>
                <div class="modal-body" >
                    <div>
                        <div style="position:relative;">
                            
                            
                            <div class="d-flex justify-content-end">
                                <div type="button" class="custom-close-btn d-flex justify-content-center align-items-center" data-bs-dismiss="modal"
                                aria-label="Close">X</div>

                              
                            </div>
                            <div class="row d-flex justify-content-center mt-3">
                                <div class="col-12 d-flex warning_message_upload justify-content-center font" style="width: auto;position: relative;text-align: center;">
                                    No! The content requirements <br>are not met.
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 d-flex justify-content-center">
                                    <div class="edit_button font" >
                                        Done
                                    </div>
                                </div>
                            </div>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
