.search-bar-container {
    height: 5vh;
    width: 90%;
    background: #000000;
    margin-top: 2vh;
    padding-left: 1vw;
    color: #FFFFFF;
}
.dropdown_org{
    background: #000;
    color: #FFFFFF;
    padding: 0.3em;
    font-size: 0.9em;
    min-width: 30%;
  }
.input-group {
    width: 90%;
    padding-left: 0.5vw;
    height: 3vh;
}

.form-control {
    height: 3vh;
    font-size: 0.8em;
}

.close {
    border: none;
    background: transparent;
    color: #fff;
}

.dropdown-col {
    margin-top: 2vh;

}

.dropdown-toggle {
    background: #000000;
    border: none;
    color: #000000;
    font-size: 0.9em;
    border-radius: 0;
    height: 5vh;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.dropDown {
    flex-direction: column;
    padding: 5%
  }
.logut_dropdown {
    background: #e7f3f9
  }
  .logout {
    background: #e7f3f9;
    height: 5vh;
    width: 95%;
    padding: 5px;
    color: #000;
    font-size: 1em;
    font-style: normal;
    font-weight: 500;
    margin: auto
  }
  .logout {
    border-radius: 5px;
    border: 1px solid #133870;
    display: flex;
    justify-content: space-between
  }

#dropdownMenuButton2 {
    border-radius: 0;
    height: 5vh;
    background: #D7D7E8;
    color: #000;
  
  }

/* Add any styles for the circle class here */
.circle {
    width: 3.5vh;
    height: 3.5vh;
    margin-right: 0.2vw;
}

.circle-div {
    width: 5vh;
    height: 5vh;
    border-radius: 100%;
    background: #FFF;
    border: 1px solid #000;
}


.circle-tab {
    width: 3vh;
    height: 3vh;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid #1B9DE7;
}

.title_name {
    font-size: 1.1em;
}

.box-edit-question {
    width: 99%;
    height: 80vh;
    border: 5px solid black;
    background: #F5F5F7;
    margin-top: 3vh;
    border-radius: 10px;
}

// .feedback-box {
//     width: 468px;
// height: 167px;
// border-radius: 17px;
// border: 2px solid #000;
// background: #D7D7E8;
// }

.feedback-content {}


.header_question {
    width: 60%;
    height: 4vh;
    border-radius: 10px;
    background: #000000;
    color: #FFF;
    font-size: 1.2em;
}

.content-requirement-edit-que {
    width: 130%;
    height: auto;
    max-height: 9vh;
    border-radius: 10px;
    background: #D7D7E8;
    padding: 5px;
    overflow-y: hidden;
    overflow-x: hidden;
    border: 1px solid #000000;

}

.info-image {
    height: 3.2vh;
    padding: 6px;
}

.content-req,
.question-limit-edit {
    font-size: 0.8em;
}

.id-label {
    width: auto;
    height: 3vh;
    padding: 6px;
    background: #D7D7E8;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 1em;
}

.id_div {
    padding: 5px;
}

.id_number {
    width: auto;
    height: 3vh;
    background: #FFF6F6;
    min-width: 25%;
    border: 1px solid #133870;
    border-radius: 3px;
    padding: 2px;
    font-size: 1em;
}

.question-container {
    height: 20vh;
    width: 98%;
    border-radius: 10px;
    border: 2px solid #133870;
    background: #D7D7E8;
    color: #133870;
    padding: 8px;
}

.input-question {
    background: transparent;
    border: none;
    height: 17vh;
    font-size: 1em;
}

.hint-question {
    background: transparent;
    border: none;
    height: 20vh;
    font-size: 1em;
}

.hint-container {
    width: 100%;
    height: 21vh;
    border: 2px solid #133870;
    background: #D7D7E8;
    color: #133870;
    border-radius: 10px;
}

.radio-button {
    position: relative;
}

.radio-button {
    width: 4vh;
    height: 4vh;
    border-radius: 100%;
    border: 2px solid #133870;
    background: #D7D7E8;
}

.ansewer_hint_section {
    width: 100%;
}

.option_1 {
    width: 90%;
    height: 4.5vh;
    border-radius: 8px;
    border: 2px solid #133870;
    background: #D7D7E8;
}

.radio-button-active {
    width: 4vh;
    height: 4vh;
    border-radius: 100%;
    border: 2px solid #133870;
    background: #FFF;
}

.status_label,
.Status_label_submitted {
    color: #000;

}

.form-check-input {
    height: 3vh;
    width: 8vh;
    border: 1px solid #000000;
}

.last_row {
    width: 100%;


}

.button_div {
    width: 15%;
    height: 4vh;
    border-radius: 8px;
    background: #000;
    color: #FFF;
    color: #FFFFFF;
    cursor: pointer;
}

.radio-button-active::before {
    content: "";
    display: block;
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
    background-color: #D7D7E8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.WarningModal {
    border-radius: 23px;
    border: 7px solid #000;
    background: #D7D7E8;
    box-shadow: 10px 15px 4px 0px rgba(0, 0, 0, 0.25);
}

.warning_image_upload {
    position: absolute;
    z-index: 1;
    left: -10%;
    top: -22%;

}


.modal-body {
    border-radius: 23px;


}

.custom-close-btn {
    color: #FFFFFF;
    background: #1B9DE7;
    border-radius: 100%;
    width: 3vh;
    height: 3vh;
    border: 1px solid #133870;
}

.cross-icon {
    height: 3vh;
}

.warning_message_upload {
    font-size: 1.2em;
    color: black;
}


.edit_button {
    width: auto;
    font-size: 0.8em;
    padding: 6px;
    color: white;
    border-radius: 8px;
    background: #D7D7E8;
    margin-top: 3vh;
    cursor: pointer;

}


//   --------
.idBlock {
    border-radius: 7px;
    background: #D7D7E8;
    height: 5vh;
}

.id {
    width: 4vw;
    height: 5vh;
    border-radius: 7px;
    border: 2px solid #000;
    background: #FFF;
}

.name {
    border-radius: 10px;
    border: 2px solid #000;
    background: #D7D7E8;
    height: 5vh;
}

.GameTileStopwatch,
.TileTimeStopwatch {
    border-radius: 10px;
    border: 2px solid #000;
    background: #D7D7E8;
    height: 22vh;
    margin-top: 2vh;
}

.addButton,
.substractButton {
    background: #D7D7E8;
    border-radius: 100%;
    width: 4vh;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.minButton {
    height: 4vh;
    background: #000000;
    color: #FFFFFF;
}

.WatchContainer {
    height: 16vh;
    width: 16vh;
    border-radius: 100%;
    border: 5px solid #FFFFFF;
}

.Time {
    // padding: 2%;
    font-size:3vw;
    font-weight: 500;
    line-height: 20px;
    // border-bottom: 5px solid #FFFFFF;
    height: 6vh;
    width:5vw;
    text-align: center;
    background-color:transparent;
}

.bottom-border {
    height: 1vh;
    background-color: #FFFFFF;
    border-radius: 10px;
    // width:5vw;
}

.noteBlock {
    height: 12vh;
    width: 100%;
}

.donebuttonBlock {
    height: 8vh;
    width: 100%;
}

.donebutton {
    border-radius: 10px;
    background: #000000;
    color: #FFFFFF;
    padding: 0.6em;
    font-size: 0.8em;
    cursor: pointer;
    width: 18%;
    box-shadow: 3px 8px 6px rgba(0, 0, 0, 0.25);
    text-align: center;
}
.status{
    color: #000000;
    font-weight: 700;
    line-height: normal;
    font-size: 1.5em;
}
.input_time{
    width:5.5vw;
    background-color: transparent;
    outline: transparent;

}
.AttemptInfoCard{
    border-radius: 10px;
    background: #D7D7E8;
    height: 22vh;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid #000000;

}
.AttemptTile{
   font-size: 2vh;
   color: #000000;
   background-color: #FFFFFF;
   border-radius: 10px;
   border: 2px solid #000000;
}
.eye-image{
 height: 2vh;
}
.marginTop{
margin-top: 4vh;
}