#dropdownMenuButtonsetup,
.organisation_input {
  height: 4.5vh;
  border-radius: 5px;
  border: 1px solid #000;
  background: #D7D7E8;
  color: #818195;
  min-width: 100%;
  font-size: 0.9em;
}

.large-dropdown::after {
  position: absolute;
  font-size: 3em;
  right: 0.2em;
  color: #000000;
}

.dropdown-toggle {
  background: #000;
  border: none;
  color: #FFF;
  font-size: 0.9em;
  border-radius: 0;
  height: 5vh;
  display: flex;
  align-items: center;
}

.label_setup-logo,
.org_code {
  font-size: 0.9em;
  width: 48%;
}

.question-container {
  height: 18vh;
  width: 100%;
  border-radius: 10px;
  border: 2px solid #133870;
  background: #D7D7E8;
  color: #133870;
  padding: 8px;
}

.input-question {
  background: transparent;
  border: none;
  height: 17vh;
  font-size: 1em;
  max-height: 16vh;
}

.select-function-block {
  border-radius: 5px;
  border-top: 0.5px solid #000;
  border-bottom: 0.5px solid #000;
  border-left: 2px solid #000000;
  background: #D7D7E8;
  height: 56.5vh;
  overflow: hidden;
}
.table-body {
  width:100%;
  height: 4vh;
  border-radius: 20px;
  background: #F5F5F7 !important;
  padding: 0% 0.5%;
}
.table-header {
  width: 100%;
  height: 4vh;
  border-radius: 20px;
  background: #000000

}
.height4{
  height: 4vh;
}
.table-body {
  background: #F5F5F7
}
.eye-image {
  height: 2vh
}
.margin{
  margin-left: 35px;
}
#flexSwitchCheckDefault{
  // border: 2px solid #000 !important;

}
input[type=checkbox] {
  height: 1em;
  width: 1em;
}
.checkbox-input {
  border: 2px solid #000
}

.checkbox-input-checkbox {
  border: 2px solid #FFFFFF;
  background-color: transparent;
}
.cross-icon{
  height: 3vh;
}
.FunctionDescriptionModal{
  border-radius: 20px;
  border: 4px solid #000;
  background: #FFF;
  height:auto;
}


// ------------------------------------------//

.input-group {
  width: 90%;
  padding-left: 0.5vw;
  height: 3vh;
}

.close {
  border: none;
  background: transparent;
}

.dropdown-col {
  margin-top: 2vh;

}

.dropdown-toggle {
  background: #000;
  border: none;
  color: #FFF;
  font-size: 0.9em;
  border-radius: 0;
  height: 5vh;
  display: flex;
  align-items: center;
}


#dropdownMenuButton2 {
  border-radius: 0;
  height: 5vh;
  background: #D7D7E8;
  color: #000;
  
}

#dropdownMenuButtonsetup,.organisation_input {
  height: 4.5vh;
  border-radius: 5px;
  border: 1px solid #000;
  background: #D7D7E8;
  color: #818195;
  min-width: 100%;
  font-size: 0.9em;
  
}
.organisation_input{
  color: #000000 !important;
  font-size: 0.9em;

} 



.large-dropdown::after {
  position: absolute;
  font-size: 3em;
  right: 0.2em;
  color: #000000;
}
/* Add any styles for the circle class here */
.circle {
  width: 3.5vh;
  height: 3.5vh;
  margin-right: 0.2vw;
}

.circle-div {
  width: 5vh;
  height: 5vh;
  border-radius: 100%;
  background: #FFF;
  border: 1px solid #000;
}


.circle-tab {
  width: 3vh;
  height: 3vh;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid #1B9DE7;
}

.title_name {
  font-size: 1.1em;
}

.tab {

  height: 7vh;
  background: #FFFFFF;
  border: 2px solid #000;
  border-bottom: none;
  position: relative;

}

.tab_color {
  position: absolute;
  top: 0;
  right: 0;
  width: 1.5vh;
  height: 1.5vh;
  z-index: 10;
  background: #7B7FCF;
}

.mat-title {
  font-size: 0.7em;
}

.bottom-conatiner {
  border: 2px solid #000;
  background: #F5F5F7;
  height: 67vh;
  width: 99%;
}

.tab-active {
  height: 7vh;
  background: #D7D7E8;
  border: 2px solid #000;
  border-bottom: none;
  position: relative;
}

.count_label {
  font-size: 0.8em;
}
.checkbox-header{
  height: 4vh;
}
.count-points {
  height: 2vh;
  border-radius: 10px;
  background: #000000;
  font-size: 0.8em;

}

.sub_tab {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #D7D7E8;
  font-size: 0.7em;
  height: 4vh;
  text-align: center;
  cursor: pointer;
  padding: 12px;
  line-height: 1;
  border: 2px solid #000;
  border-bottom: none;
}

.sub-tab-active {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #FFFFFF;
  font-size: 0.7em;
  height: 4vh;
  text-align: center;
  cursor: pointer;
  border: 2px solid #000;
  border-bottom: none;
  line-height: 1;
}

.table-container {
  width: 100%;
  height: 57vh;
  background: #FFFFFF;
  border: 2px solid #000;
  position: relative;
  padding: 0em 0.8em 0em 1em;
  overflow: hidden;
  border-radius: 0px 5px 5px;
}

.drop_down_table {
  font-size: 0.7em;
  width: 3vh;
  height: 2vh;
  background: #B0DDF6;
  border-radius: 8px;
}
.dropdownmenu{
  height: 40vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.submit_button {
  border-radius: 10px;
  background: #000000;
  color: #FFFFFF;
  padding: 0.6em;
  font-size: 0.8em;
  cursor: pointer;
  width: 20%;
  box-shadow: 3px 8px 6px rgba(0, 0, 0, 0.25);

}

.label_setup-logo,.org_code{
  font-size: 0.9em;
  width: 48%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.container-height{
height: 43vh;
overflow-y: auto;
overflow-x: hidden;
}
.dropdown_values{
  width: 100%;
}

.logo-image{
  flex-direction: column;
}

.logo-image-conatiner{
  height: 17vh;
  width: 40%;
  background: #D7D7E8;
  border-radius: 10px;
  border: 1px solid #000000;
}

.browse_image{
  background: black;
  color: white;
  padding: 5px;
  border-radius: 2em;
  min-width: 35%;
  display: flex;
  justify-content: center;
  font-size: 1em;
  cursor: pointer;
  box-shadow: 3px 8px 6px rgba(0, 0, 0, 0.25);

}


// ----------------------------
.display-Cms-Role-Header{
  height: 12vh;
}
.Cms-Role-list-Count{
  background-color: #000000;
  width: 30%;
  padding: 1%;
  border-radius: 36px;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}
.Cms-Role-count-container{
  min-width:13vw;
  height: 10vh;
  border-radius: 10px;
  background: #F5F5F7;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #000;
}
.display-Cms-Role-body{
height: 45vh;
}
.display-Cms-Role-body-height{
  height: 36vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.edit_btn {
  width: 3%;
  height: 3vh;
  cursor: pointer
}
.edit_image {
  height: 1.5vh
}
.view_div {
  width: 3%
}
.Organization-header {
  width: 33%;
}
.Role-header{
  width: 20%;
}
.Function-header{
  width: 37%;
}


.org_dropdown{
  max-height: 43vh;
  overflow: auto;
}
