<!-- Add your modal content here -->

<div
  class="modal-content organizationSuccessModal"
  style="background: transparent"
>
  <div class="warning_image_upload">
    <svg
      width="60"
      height="60"
      viewBox="0 0 107 107"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g id="Group 8612">
        <circle
          id="Ellipse 34"
          cx="53.5"
          cy="53.5"
          r="50"
          fill="black"
          stroke="white"
          stroke-width="7"
        />
        <path
          id="Vector"
          d="M43.3991 48.6499L50.9185 32C52.4141 32 53.8486 32.5847 54.9062 33.6255C55.9638 34.6664 56.5579 36.078 56.5579 37.55V44.9499H67.1978C67.7427 44.9438 68.2825 45.0544 68.7798 45.2741C69.277 45.4937 69.7198 45.8171 70.0774 46.2218C70.435 46.6266 70.699 47.103 70.8509 47.6181C71.0029 48.1332 71.0392 48.6746 70.9574 49.2049L68.3633 65.8548C68.2273 66.7371 67.7719 67.5412 67.081 68.1192C66.3902 68.6971 65.5103 69.0099 64.6036 68.9998H43.3991M43.3991 48.6499V68.9998M43.3991 48.6499H37.7597C36.7625 48.6499 35.8063 49.0397 35.1012 49.7336C34.3961 50.4275 34 51.3686 34 52.3499V65.2998C34 66.2811 34.3961 67.2222 35.1012 67.9161C35.8063 68.6099 36.7625 68.9998 37.7597 68.9998H43.3991"
          stroke="white"
          stroke-width="6"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </g>
    </svg>
  </div>
  <div class="modal-body" style="border: 4px solid; background: #d7d7e8">
    <div>
      <div style="position: relative">
        <div class="row d-flex justify-content-center mt-3">
          <div
            class="col-12 d-flex warning_message_upload justify-content-center font"
            style="width: auto; position: relative; text-align: center"
          >
            {{ someData }}
          </div>
        </div>

        <div [ngSwitch]="variableName">
          <div class="row" *ngSwitchCase="'case1'">
            <div class="col-12 d-flex justify-content-center">
              <div
                type="button"
                class="custom-close-btn d-flex justify-content-center align-items-center submit_button mt-3 me-3 font d-flex justify-content-center fontInter"
                data-bs-dismiss="modal"
                aria-label="Close"
                (click)="closeModal()"
              >
                Submit
              </div>
            </div>
          </div>
          <div class="row" *ngSwitchCase="'case2'">
            <div class="col-12 d-flex justify-content-center">
              <div
                type="button"
                class="custom-close-btn d-flex justify-content-center align-items-center submit_button mt-3 me-3 font d-flex justify-content-center fontInter"
                data-bs-dismiss="modal"
                aria-label="Close"
                (click)="closeModal()"
              >
                Add Vendor
              </div>

              <div
                type="button"
                class="custom-close-btn d-flex justify-content-center align-items-center submit_button mt-3 me-3 font d-flex justify-content-center fontInter"
                data-bs-dismiss="modal"
                aria-label="Close"
                (click)="closeModal()"
              >
                Set Hierarchy
              </div>
            </div>
          </div>
          <div class="row" *ngSwitchCase="'case3'">
            <div class="col-12 d-flex justify-content-center">
              <div
                type="button"
                class="custom-close-btn d-flex justify-content-center align-items-center submit_button mt-3 me-3 font d-flex justify-content-center fontInter"
                data-bs-dismiss="modal"
                aria-label="Close"
                (click)="closeModal()"
              >
                Submit
              </div>
            </div>
          </div>
          <div class="row" *ngSwitchCase="'case4'">
            <div class="col-12 d-flex justify-content-center">
              <div
                type="button"
                class="custom-close-btn d-flex justify-content-center align-items-center submit_button mt-3 me-3 font d-flex justify-content-center fontInter"
                data-bs-dismiss="modal"
                aria-label="Close"
                (click)="closeModal()"
              >
                Close
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="close-button d-flex justify-content-center align-items-center"
    (click)="closeModal()"
  >
    X
  </div>
</div>
