/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Work+Sans:wght@500&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.font{
    font-family: 'Work Sans', sans-serif;
}

.fontInter{
    font-family: 'Inter', sans-serif;
    
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .error_message{
    font-size: 0.8em;
    padding: 4px;
    color: red;
  }
  .submit_button_function {
    border-radius: 10px;
    background: #000000;
    color: #FFFFFF;
    padding: 0.6em;
    font-size: 0.8em;
    cursor: pointer;
    width: 8%;
    box-shadow: 3px 8px 6px rgba(0, 0, 0, 0.25);
    
    }
    .disabled-button{
        border-radius: 10px;
        background: #000000;
        color: #FFFFFF;
        padding: 0.6em;
        font-size: 0.8em;
        cursor:not-allowed;
        width: 8%;
        box-shadow: 3px 8px 6px rgba(0, 0, 0, 0.25);
        opacity: 0.5;
      }
/* Custom styles for the Flex Switch */
.form-check-input[type="checkbox"][role="switch"] {
    /* Default background color for OFF state */
    background-color: white;
  }
  
  /* Custom styles for the switch knob (thumb) */
  .form-check-input[type="checkbox"][role="switch"] + .form-check-label::before {
    /* Change the color of the knob */
    background-color: black;
  }
  
  /* Custom styles for the Flex Switch when checked (ON state) */
  .form-check-input[type="checkbox"][role="switch"]:checked {
    /* Background color for ON state */
    background-color: #C4C4F6;
  }
  