<div class="web-container-rtu">
    <div class="row">
        <div class="col-7">
            <div class="search-bar-container d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                    viewBox="0 0 16 16">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </svg>

                <div class="input-group">

                    <input type="text" class="form-control font" placeholder="Search anything" aria-label=""
                        aria-describedby="basic-addon1">
                </div>
                <button type="button" class="close ms-2" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <div class="col-5 pe-4 dropdown-col d-flex justify-content-end">

            <div ngbDropdown class="dropdown" style="position:relative;">
                <button ngbDropdownToggle class="btn btn-secondary font" type="button" id="dropdownMenuButton1"
                    aria-expanded="false">
                    {{ selectedDropdownValue }}
                    <!-- <img class="circle" alt="org_image" src="assets/images/Ellipse.svg" /> -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="circle ms-1" viewBox="0 0 41 41" fill="none">
                        <circle cx="20.5" cy="20.5" r="19.5" fill="white" stroke="#1B9DE7" stroke-width="2" />
                    </svg>
                </button>
                <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
                    <li><a ngbDropdownItem (click)="updateSelectedValue('Organization 1')" class="font">Organization
                            1</a></li>
                    <li><a ngbDropdownItem (click)="updateSelectedValue('Organization 2')" class="font">Organization
                            2</a></li>
                    <li><a ngbDropdownItem (click)="updateSelectedValue('Organization 3')" class="font">Organization
                            3</a></li>
                </ul>
            </div>

            <div ngbDropdown class="dropdown" style="position: relative; display: inline-flex;">
                <button ngbDropdownToggle class="btn btn-secondary" type="button" id="dropdownMenuButton2"
                    aria-expanded="false">

                    <svg xmlns="http://www.w3.org/2000/svg" class="circle" viewBox="0 0 41 41" fill="none">
                        <circle cx="20.5" cy="20.5" r="19.5" fill="white" stroke="#1B9DE7" stroke-width="2" />
                        <path
                            d="M28 30V28C28 26.9391 27.5786 25.9217 26.8284 25.1716C26.0783 24.4214 25.0609 24 24 24H16C14.9391 24 13.9217 24.4214 13.1716 25.1716C12.4214 25.9217 12 26.9391 12 28V30"
                            stroke="#133870" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path
                            d="M20 20C22.2091 20 24 18.2091 24 16C24 13.7909 22.2091 12 20 12C17.7909 12 16 13.7909 16 16C16 18.2091 17.7909 20 20 20Z"
                            stroke="#133870" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
                <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
                    <li><a ngbDropdownItem class="font">Profile 1</a></li>
                    <li><a ngbDropdownItem class="font">Profile 2</a></li>
                    <li><a ngbDropdownItem class="font">Profile 3</a></li>
                </ul>
            </div>

        </div>

    </div>

    <div class="row mt-3">
        <div class="col-12 d-flex align-items-center" style="flex-direction: row;">
            <div class="circle-div">

            </div>
            <div class="font ms-2 title_name">RTU</div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-10">
            <div class="row">
                <div class="col-2" *ngFor="let res of matTab; let i=index" (click)="NavigateToTab(i)"
                    style="cursor: pointer; padding-right: 0;">
                    <div class="tab d-flex justify-content-center align-items-center flex-column"
                        [ngClass]="{'tab-active': i === activeIndexTab}">
                        <div class="circle-tab"></div>
                        <div class="mat-title font">{{res.content}}</div>
                        <div class="tab_color" [style.background]="res.color"></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-2"> </div>


    </div>

    <div class="row">
        <div class="col-12">
            <div class="bottom-conatiner">
                <div class="row">
                    <div class="col-5 mt-4 ps-4 ">

                        <div class="row mt-4 ps-2">
                            <div class="col-3 ps-0" *ngFor="let res_sub of subtab; let j=index"
                                (click)="NavigateToSubTab(j)">
                                <div class="sub_tab font d-flex justify-content-center align-items-center"
                                    [ngClass]="{'sub-tab-active': j === activeIndexSubTab}">
                                    {{res_sub.label}}
                                </div>

                            </div>

                        </div>
                    </div>






                </div>



                <div class="row w-100">
                    <div class="col-12 ms-2 d-flex justify-content-center">
                        <div class="table-container">
                           
                            <div *ngIf="activeIndexDraftSubmit=='1'; then draft else submitted"></div>


                            <ng-template #draft>
                                <div class="row mt-2">
                                    <div class="col-12 d-flex justify-content-center">
                                        <div class="table-header">
                                            <div class="checkbox-header d-flex align-items-center">
                                                <div class="edit_btn  d-flex justify-content-center align-items-center">
                                                </div>


                                                <div
                                                    class="View_label font d-flex align-items-center justify-content-center">
                                                    View
                                                </div>

                                                <div class="id-header-rtu font d-flex justify-content-center">
                                                    Id
                                                </div>

                                                <div class="question-header-rtu font d-flex justify-content-center">
                                                    Questions
                                                </div>


                                                <div class="add-header-rtu font">
                                                    Add
                                                </div>

                                                <div class="added-header-rtu font">
                                                    Added
                                                </div>

                                                <div class="cancel-header-rtu font d-flex justify-content-end">
                                                    Cancel
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="table-body-height">
                                    <div class="row mt-2" *ngFor="let res of tableData">
                                        <div class="col-12 d-flex justify-content-center">
                                            <div class="table-body d-flex align-items-center">

                                                <div class="edit_btn  d-flex justify-content-center align-items-center">
                                                </div>

                                                <div
                                                    class="View_label_body font d-flex align-items-center justify-content-center">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="eye-image"
                                                        viewBox="0 0 28 20" fill="none">
                                                        <path
                                                            d="M1.82837 10C1.82837 10 6.32471 1 14.1933 1C22.0619 1 26.5582 10 26.5582 10C26.5582 10 22.0619 19 14.1933 19C6.32471 19 1.82837 10 1.82837 10Z"
                                                            stroke="#133870" stroke-width="2" stroke-linecap="round"
                                                            stroke-linejoin="round" />
                                                        <path
                                                            d="M14.1933 13.375C16.0557 13.375 17.5656 11.864 17.5656 10C17.5656 8.13604 16.0557 6.625 14.1933 6.625C12.3309 6.625 10.821 8.13604 10.821 10C10.821 11.864 12.3309 13.375 14.1933 13.375Z"
                                                            stroke="#133870" stroke-width="2" stroke-linecap="round"
                                                            stroke-linejoin="round" />
                                                    </svg>
                                                </div>

                                                <div class="id-body-rtu font d-flex justify-content-center">
                                                    
                                                </div>
                                                <div class="question-body-rtu font d-flex">
                                                    
                                                </div>

                                                <div class="add-body-rtu font d-flex justify-content-center">
                                                    <div class="add_btn d-flex justify-content-center align-items-center">
                                                        +
                                                    </div>
                                                </div>

                                                <div class="added-body-rtu font d-flex justify-content-center">
                                                    <div class="add_btn d-flex justify-content-center align-items-center ms-3">
                                                        +
                                                    </div>
                                                </div>

                                                <div class="cancel-body-rtu font d-flex justify-content-end">
                                                    <div class="cancel_btn d-flex justify-content-center align-items-center">
                                                        x
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row d-flex justify-content-center align-items-center">
                                    <div class="table-footer d-flex align-items-center">
                                        <div class="count-no font d-flex justify-content-center align-items-center">
                                            5
                                        </div>
                                        <div class="dash ms-1 d-flex align-items-center">
                                            /
                                        </div>
                                        <div
                                            class="count-out-of font d-flex justify-content-center align-items-center ms-1">
                                            9
                                        </div>

                                        <div class="pagination d-flex justify-content-end">
                                            <div class="left_arrow d-flex align-items-center">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="triangle-left"
                                                    viewBox="0 0 16 24" fill="none">
                                                    <path
                                                        d="M0.0644526 12L15.8019 0.741668L15.8019 23.2583L0.0644526 12Z"
                                                        fill="white" />
                                                </svg>
                                            </div>
                                            <div
                                                class="page-no d-flex justify-content-center align-items-center font ms-1">
                                                1
                                            </div>
                                            <div class="right_arrow d-flex align-items-center ms-1">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="triangle-left"
                                                    viewBox="0 0 17 24" fill="none">
                                                    <path d="M16.0103 12L0.272775 0.741668L0.272774 23.2583L16.0103 12Z"
                                                        fill="white" />
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template #submitted>
                                <div class="row mt-2">
                                    <div class="col-12 d-flex justify-content-center">
                                        <div class="table-header">
                                            <div class="checkbox-header d-flex align-items-center">
                                                <div class="edit_btn  d-flex justify-content-center align-items-center">
                                                </div>
                                                <div class="checkbox">
                                                    <div class="form-check d-flex align-items-center">
                                                        <input class="form-check-input checkbox-input-checkbox"
                                                            type="checkbox" value="" id="flexCheckDefault" disabled>

                                                    </div>

                                                </div>

                                                <div
                                                    class="Status_label_submitted font d-flex align-items-center justify-content-center">
                                                    Status
                                                </div>

                                                <div class="id-header_submitted font d-flex justify-content-center">
                                                    Id
                                                </div>

                                                <div class="questions-header_submitted font">
                                                    Questions
                                                </div>


                                                <div class="pending-header_submitted font">
                                                    Pending
                                                </div>

                                                <div class="approved-header_submitted font">
                                                    Approved
                                                </div>

                                                <div class="submitted-date-header font d-flex justify-content-end">
                                                    Submitted date
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="table-body-height">
                                    <div class="row mt-2" *ngFor="let res of tableData">
                                        <div class="col-12 d-flex justify-content-center">
                                            <div class="table-body d-flex align-items-center">
                                                <div class="edit_btn  d-flex justify-content-center align-items-center"
                                                    (click)="navigateToEditQuestion()">
                                                </div>
                                                <div class="checkbox">
                                                    <div class="form-check d-flex align-items-center">
                                                        <input class="form-check-input checkbox-input" type="checkbox"
                                                            value="" id="flexCheckDefault">

                                                    </div>

                                                </div>

                                                <div class="form-check form-switch d-flex align-items-center">
                                                    <input class="form-check-input" style="width: 5vh;height: 2vh;"
                                                        type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                                </div>

                                                <div class="view_div d-flex align-items-center justify-content-center">
                                                </div>

                                                <div class="questions-body_submitted font">
                                                </div>


                                                <div class="pending-header_submitted font d-flex ms-3">
                                                    <div class="pending-header_submitted_circle">

                                                    </div>

                                                </div>

                                                <div class="approved-header_submitted font">
                                                    <div class="approved-header_submitted_circle">

                                                    </div>
                                                </div>

                                               

                                                <div class="submitted-date-body font d-flex justify-content-end">

                                                </div>

                                               

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row d-flex justify-content-center align-items-center">
                                    <div class="table-footer d-flex align-items-center">
                                        <div class="count-no font d-flex justify-content-center align-items-center">
                                            5
                                        </div>
                                        <div class="dash ms-1 d-flex align-items-center">
                                            /
                                        </div>
                                        <div
                                            class="count-out-of font d-flex justify-content-center align-items-center ms-1">
                                            9
                                        </div>

                                        <div class="pagination d-flex justify-content-end">
                                            <div class="left_arrow d-flex align-items-center">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="triangle-left"
                                                    viewBox="0 0 16 24" fill="none">
                                                    <path
                                                        d="M0.0644526 12L15.8019 0.741668L15.8019 23.2583L0.0644526 12Z"
                                                        fill="white" />
                                                </svg>
                                            </div>
                                            <div
                                                class="page-no d-flex justify-content-center align-items-center font ms-1">
                                                1
                                            </div>
                                            <div class="right_arrow d-flex align-items-center ms-1">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="triangle-left"
                                                    viewBox="0 0 17 24" fill="none">
                                                    <path d="M16.0103 12L0.272775 0.741668L0.272774 23.2583L16.0103 12Z"
                                                        fill="white" />
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>


                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>


  


</div>



